root = true

[*]
indent_style = space
indent_size = 2 #numero de colunas
end_of_line = lf #lf é a opcao mais utilizada, abrange mais sistemas
charset = utf-8 #igual do html
trim_trailing_whitespace = true #para deixar espaço no codigo
insert_final_newline = true
